:root {
  font-size: 14px;
}

.main-space {
  background-color: white;
  /* height: 80vh; */
}

.btn-success {
  font-weight: 700;
}

h1 {
  text-align: center;
}

.configurator-container {
  display: flex;
  /* width: 100%; */
}

.left-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.3rem 1rem;
  text-transform: uppercase;
  transform: translateX(-5rem);
  width: 45%;
}

.left-panel > h5 {
  /* margin-top: 0.3rem; */
  font-size: 1rem;
}

.left-panel button {
  font-size: 0.8rem;
}

.left-panel button:hover {
  background-color: none !important;
}

.selected {
  border: 2px solid white !important;
  background-color: orange !important;
  color: white;
}

.selected-border {
  border: 3px solid orange !important;
}

.right-panel {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fit {
  cursor: pointer;
  color: blue;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

.color-buttons-container {
  /* margin-bottom: 1rem; */
  width: 90%;
}

.color-button {
  position: relative;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 0.5px solid rgba(0, 0, 0, 0.418);
  cursor: pointer;
  transform: translateY(0.3rem);
  /* transition: all 0.3s ease; */
}

/* .color-button:hover {
  transform: scale(1.1);
   box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
} */

.imprint-text-color-button {
  position: relative;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 0.5px solid rgba(0, 0, 0, 0.418);
  cursor: pointer;
}

.font-size {
  transform: translateY(0.2rem);
}

.texture-buttons-container h3 {
  font-size: medium;
  transform: translateX(0.5rem);
}

.texture-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-bottom: 1rem; */
}

.texture-category {
  transform: translateX(-4rem);
  width: 60%;
}

.texture-category:nth-child(even) {
  margin-left: 3rem;
}

.texture-category h3 {
  font-size: 1rem;
}

.texture-row {
  display: flex;
  /* justify-content: space-between; */
  width: 70%;
  max-width: 400px;
  margin: 0 auto;
  transform: translateX(-1.5rem);
}

.texture-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.texture-button {
  height: 1.6rem;
  width: 2.3rem;
  cursor: pointer;
  transition: 0.1s ease-in;
  margin-bottom: 0.1rem;
  align-self: center;
}

.p-carousel-items-container {
  width: 100% !important;
}

.bi-info-circle {
  display: block;
  align-self: center;
  cursor: pointer;
}

/* .texture-button:hover {
  transform: translateY(-0.2rem) scale(2);
} */

/* .canvas-container {
  padding: 2rem;
} */

.size-button {
  margin: 2px;
  padding: 0.3rem 0.8rem;
  text-transform: capitalize;
}

.p-carousel-prev,
.p-carousel-next {
  transform: translateY(-0.75rem);
}

.p-carousel-items-content {
  transform: translateY(-0.25rem);
}

.part-image {
  margin-bottom: 0.2rem;
  flex-direction: row;
  border-radius: 0.3rem;
}

.uploaded-image {
  position: "absolute";
  top: "50px";
  left: "50px";
  z-index: 10;
  width: '3rem';
}
