:root {
  font-size: 14px;
}

@media (max-width: 900px) {
  .main-space {
    overflow: hidden;

  }
  .confirmation-page {
    font-size: 0.8rem !important;
  }
  .confirmation-page h4,
  .confirmation-page .h5 {
    font-size: 0.9rem !important;
  }

  .confirmation-page h1,
  .confirmation-page h2 {
    font-size: 1.2rem !important;
  }
  .confirmation-page button {
    font-size: 0.8rem !important;
  }
  .all-confirmation-info p {
    font-size: 0.8rem !important;
  }

  /* Actual 3d  */
  .configurator-container {
    flex-direction: column-reverse;
    /* height: 100vh !important; */
  }

  .right-panel > .m-3 {
    margin: 0.2rem !important;
  }
  .main-space h3 {
    font-size: 1rem !important;
  }
  .main-space button {
    font-size: 0.8rem !important;
    padding: 0.2rem 0.4rem !important;
  }
  .left-panel {
    transform: translateX(0.1rem) !important;
    width: 100% !important;
  }
  /* .left-panel > *{
    font-size: 0.5rem !important;
  } */
  .left-panel h5, .text-image-imprint h5 {
    font-size: 0.7rem !important;
  }
  .left-panel h3 {
    font-size: 0.6rem !important;
  }
  .left-panel button {
    font-size: 0.6rem !important;
  }

  .color-button {
    
  }
  .texture-category {
    width: 50% !important;
  }

  .texture-item svg {
    scale: 0.7;
  }

  .part-panel {
    display: none !important;
  }
  

  .price > *, .price button{
    font-size: 0.8rem !important;
  }

  .text-image-imprint-wrapper {
    display: flex;
    flex-direction: column !important;
    gap: 0.5rem
  }

  .text-image-imprint-wrapper > .inputs {
    display: flex;
    align-items: center;
    flex-direction: row !important;
    gap: 0.5rem
  }
  .image-uploads  {
    display: flex;
    flex-direction: row !important;
    gap: 0.5rem
  }

  .image-uploads > .upload-label {
    flex: 1;
  }

  .text-image-imprint-wrapper > .inputs > input {
    height: 1.5rem !important;
  }

  .resize-right-panel {
    height: 150%;
  }



}

.main-space {
  background-color: white;
  /* height: 78vh; */
  /* comneted out and mobile worked */
}

.btn-success {
  font-weight: 700;
}

h1 {
  text-align: center;
}

.configurator-container {
  display: flex;
  /* width: 100%; */
}

.left-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.3rem 1rem;
  text-transform: uppercase;
  transform: translateX(-3rem);
  width: 45%;
}

.left-panel > h5 {
  /* margin-top: 0.3rem; */
  font-size: 1rem;
}

.left-panel button {
  font-size: 0.8rem;
}

.left-panel button:hover {
  background-color: none !important;
}

.selected {
  border: 2px solid white !important;
  background-color: orange !important;
  color: white;
}

.selected-border {
  border: 0.2rem solid orange !important;
}

.selected-part-image-border {
  border: 0.2rem solid orange !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adding shadow effect */
}

.right-panel {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fit {
  cursor: pointer;
  color: blue;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

.color-buttons-container {
  /* margin-bottom: 1rem; */
  width: 90%;
}

.color-button {
  position: relative;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 0.5px solid rgba(0, 0, 0, 0.418);
  cursor: pointer;
  transform: translateY(0.3rem);
  /* transition: all 0.3s ease; */
}

/* .color-button:hover {
  transform: scale(1.1);
   box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
} */

.imprint-text-color-button {
  position: relative;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 0.5px solid rgba(0, 0, 0, 0.418);
  cursor: pointer;
}

.font-size {
  transform: translateY(0.2rem);
}

.texture-buttons-container h3 {
  font-size: medium;
  transform: translateX(0.5rem);
}

.texture-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-bottom: 1rem; */
}

.texture-category {
  transform: translateX(-4rem);
  width: 60%;
}

.texture-category:nth-child(even) {
  margin-left: 3rem;
}

.texture-category h3 {
  font-size: 1rem;
}

.texture-row {
  display: flex;
  /* justify-content: space-between; */
  width: 70%;
  max-width: 400px;
  /* margin: 0 auto; */
  transform: translateX(-1.5rem);
}

.texture-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.texture-button {
  height: 1.6rem;
  width: 2.3rem;
  cursor: pointer;
  transition: 0.1s ease-in;
  /* margin-bottom: 0.1rem; */
  align-self: center;
}

.p-carousel-items-container {
  width: 100% !important;
}

.bi-info-circle {
  display: block;
  align-self: center;
  cursor: pointer;
}

/* .texture-button:hover {
  transform: translateY(-0.2rem) scale(2);
} */

/* .canvas-container {
  padding: 2rem;
} */

.size-button {
  margin: 2px;
  padding: 0.3rem 0.8rem;
  text-transform: capitalize;
}

.p-carousel-prev,
.p-carousel-next {
  transform: translateY(-0.75rem);
}

.p-carousel-items-content {
  transform: translateY(-0.25rem);
}

.part-image {
  margin-bottom: 0.2rem;
  flex-direction: row;
  border-radius: 0.3rem;
}

.resize-right-panel {
  height: 100%;
}

/* image upload */

.upload-container {
  display: inline-block;
}

.upload-input {
  display: none;
}

.upload-label {
  cursor: pointer;
  padding: 2px 5px;
  background-color: #2196f3;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 1rem;
}

/* Styling for when the label is hovered over */
.upload-label:hover {
  background-color: #0d8bf2;
}

.overlay {
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
  /* transform: translateY(-6rem); */
}

#overlay-right {
  transform: translateX(4.5rem);
}

#overlay-left {
  transform: translateX(-11.5rem);
}

.price {
  align-items: center;

}

.text-image-imprint-wrapper {
  display: flex;
  /* gap: 0.5rem */
}

.text-image-imprint-wrapper > .inputs {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.2rem;
}

.image-uploads {
  display: flex;
  flex: 1;
  flex-direction: column;
}
