.main-space {
  background-color: ash;
}

h1 {
  text-align: center;
}

.configurator-container {
  display: flex;
  width: 100%;
  height: 65vh;
}

.left-panel {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  padding: 1rem;
  text-transform: uppercase;
  transform: translateX(-5rem);
  width: 45%;
  /* border: 0.1rem solid rgba(109, 93, 93, 0.253); */
}

.left-panel > h5 {
  margin-top: 0.6rem;
  font-size: 1rem;
}

.left-panel button {
  font-size: 0.8rem;
}

.left-panel button:hover {
  background-color: none !important;
}

.selected {
  border: 2px solid white !important;
  background-color:  orange !important;
  color: white;
}

.right-panel {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.color-button {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 0.5rem;
  border: 0.5px solid rgba(0, 0, 0, 0.418);
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.color-button:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.red {
  background-color: #ff0000;
}

.green {
  background-color: #00ff00;
}

.blue {
  background-color: #0000ff;
}

.white {
  background-color: #ffffff;
}

.texture-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.texture-button {
  margin: 0.3rem;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.texture-button:hover {
  transform: translateY(-0.2rem);
}

.canvas-container {
  width: 100%;
  height: 100%;
}

.size-button {
  margin: 2px;
}

