/* Dashboard.css */
.dashboard {
    display: flex;
  }
  
  .Sidebar {
    width: max-content;
    background-color: #f0f0f0;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .top-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .cardd {
    width: calc(33.33% - 10px);
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .table {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  