:root {
  overflow-x: hidden;
}
.allBg {
  background-color: rgba(197, 195, 195, 0.165);
}

@media (max-width: 900px) {
  .logo {
    width: 4rem !important;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .navbar-expand-lg .navbar-nav .nav-item {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  .dropdown {
    float: left;
  }
  .vr {
    display: none !important;
    visibility: hidden;
    height: 0;
  }
  .p-dropdown {
    padding: 0;
  }
  .adjust-nav {
    transform: translateY(0);
  }
  .search-input {
    transform: translateX(-0.3rem);
    margin: 0.5rem 0;
  }

  /* nav ends here  */
  .policy-header {
    display: flex;
    padding: 1rem !important;
    width: 100%;
  }
  .policy-header li {
    font-size: 0.4rem !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    padding-right: 0.2rem !important;
  }
  .more-info > p > span {
    margin: 0 !important;
    font-size: 0.5rem !important;
  }
  .more-info-icon {
    width: 1rem !important;
  }
  .footer-icon {
    width: 1rem !important;
  }
  .footer-icon-title {
    font-size: 0.5rem !important;
    margin-top: 0.2rem;
  }

  /* Category */
  .category-page-container > *, .category-template img{
    width: 60% !important;
  }
  .category-banner > h4 {
    font-size: 1rem !important;
  }
  .p-carousel-items-content h4 {
    font-size: 0.5rem !important;
  }

  .p-carousel .p-carousel-indicators .p-carousel-indicator button {
    height: 0.2rem !important;
    width: 1rem !important;
  }

  .offer-container {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .four-in-a-card-container {
    transform: translateY(-0.1rem) !important;
  }

  .four-in-a-card-container,
  .offer-card {
    font-size: 0.5rem !important;
    margin: 0 !important;
    padding: 0.5rem !important;
    width: 23% !important;
  }

  .four-in-a-card-container h3,
  .offer-card h3 {
    font-size: 0.5rem !important;
  }

  .fours-link {
    padding: 0.2rem !important;
    font-size: 0.4rem !important;
  }

  /* Search  */

  /* search banner */
  .search-banner {
    aspect-ratio: 1/1 !important;
    padding: 0.2rem !important;
  }

  .search-dropdown {
    /* font-size: 0.4rem !important; */
    max-height: 15% !important;
    border-radius: 0.2rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.2rem !important;
  }

  .p-dropdown .p-dropdown-label.p-placeholder {
    display: flex;
    transform: translateX(-0.5rem);
  }

  .search-dropdown > span{
    font-size: 0.4rem !important;

  }

  .p-dropdown .p-dropdown-trigger {
    width: 0.3rem !important;
    margin: 0 0.1rem !important;
  }

  .search-banner button {
    font-size: 0.3rem !important;
    padding: 0rem;
    margin-bottom: 0rem !important;
  }

  .search-banner h4 {
    font-size: 0.4rem !important;
    margin-bottom: 0.2rem !important;
  }

  /* Banner Add */
  .clickable-banner-container {
    margin: 1rem 0 !important;
  }

  .clickable-banner-container h3,
  .more-deals {
    font-size: 0.6rem !important;
  }
  .clickable-item > div {
    font-size: 0.5rem !important;
  }
  .clickable-banner {
    height: min-content !important;
  }

  .clickable-item > .image-space {
    height: 80% !important;
  }

  /* paginator */
  .p-paginator {
    font-size: 0.8rem !important;
  }
  .footer-space {
    font-size: 0.5rem;
  }
  .footer-item {
    width: 30%;
  }

  .footer-space h5 {
    font-size: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer-header {
    margin-bottom: 1rem !important;
  }

  .footer-item p {
    margin-bottom: 0 !important;
  }

  .social-media {
    width: 0.5rem !important;
    margin: 0 !important;
  }
  .social-media-container a {
    margin: 0.5rem !important;
  }

  /* card */
  .product-image {
    height: 2rem !important;
    border-radius: 0 !important;
  }
  .card {
    border-radius: 0.1rem !important;
  }

  .card-body {
    padding: 0.1rem !important;
  }
  .card-body * {
    font-size: 0.2rem !important;
  }
  .card-title {
    margin: 0 !important;
  }
  .price {
    margin-top: 0 !important;
  }

  .discount-off {
    font-size: 0.2rem !important;
  }
  .card-body button {
    padding: 0 !important;
    border-radius: 0.1rem !important;
    border-width: 0.01rem !important;
  }
  .original-price-untouched {
    margin-bottom: 0.7rem !important;
  }
  .flag {
    display: flex;
    width: 40% !important;
    justify-content: right !important;
    float: right !important;
  }

  /* Item detail */
  .goog-te-gadget{
    font-size: 8px;
    scale: 0.6;
  }
  .main-product-image {
    height: 18rem !important;
  }
  .product-title {
    margin-top: 3rem;
  }
  .related-products, .related-products .h3, .related-products h5, .related-products del, .related-products h5 {
    font-size: 0.7rem !important;
    margin: 0 !important;
  }

  /* category */
  .page-banner {
    /* aspect-ratio: 1/1 !important; */
    background-size: contain !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 7rem !important;
  }
  .category-items-container{
    margin-top: 0 !important;
  }
  .category-page-container > *, .category-template h4{
    margin-top: 0.2rem;
    font-size: 0.8rem !important;
  }

  /* pages */
  .page-container{
    font-size: 0.8rem;
    padding: 0 1rem !important;
  }
  .contact-container{
    margin-top: 0 !important;
    font-size: 0.8rem;
  }
  .info-wrapper > *{
    font-size: 0.8rem !important;
  }
  .info-icon {
    width: 3.5rem !important;
    margin-top: -1rem !important;
  }

  /* search */
  .search-header {
    margin-top: 0 !important;
  }

  /* customize page */
  .customise-front {
    margin: 0 !important;
    margin-bottom: 0.5rem !important;
  }
  .customise-front h5 {
    font-size: 0.5rem !important;
  }
}

.logo {
  width: 8rem;
  margin: 5px;
}

.search-input {
  width: 25rem;
  border-radius: 15rem !important;
}

.search-button {
  transform: translateX(-4rem);
  border-radius: 15rem !important;
  z-index: 9;
}

.nav-item a,
.about,
.nav-item {
  color: black;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  margin: 0 0.3rem;
  width: max-content;
}

.nav-item a:hover,
.about:hover {
  color: orange;
}
.adjust-nav {
  transform: translateY(0.5rem);
}

.languages {
  transform: translateY(-0.4rem);
  z-index: 100;
}

.nav-category {
  z-index: 100;
  transform: translateY(-0.5rem);
}

.vr {
  border-right: 0.4px solid rgba(255, 255, 255, 0.274);
  height: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.languages .dropdown-toggle::after {
  display: none;
}

.cart {
  transform: scale(1.2);
}

.profile {
  transform: scale(2.5);
}

.dropdown-toggle {
  background-color: none;
}

.signup {
  background-color: #ffc107 !important;
  color: white !important;
  border: none !important;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  width: max-content;
}

.signin {
  background-color: white;
  color: black !important;
  border: 1px solid #ffc107;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  width: max-content;
}

.signup:hover {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ffc107 !important;
  box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.1);
}
.signin:hover {
  background-color: #ffc107 !important;
  color: white !important;
  box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.1);
}

/* .cat-dropdown:hover {
  background-color: #ffc107;
  color: #ffc107;
} */

/* CAROUSEL */
.custom-carousel {
  transform: translateX(0.5rem);
}
/* .custom-carousel .p-carousel-indicators {
    transform: translateY(-2rem);
  } */

.carousel-indicators {
  height: 10px;
  opacity: 1;
  transform: translateX(-4.4rem);
  transform: scaleY(1.3);
}

.carousel-indicators .active {
  background-color: #ffc107;
  color: #ffc107;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  transform: translateX(-1.4rem);
}

/* PAGINATOR  */

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #4f79ff;
  border-color: #ffeef2;
  color: #ffffff;
}

.policy-header {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
}

.policy-header li {
  padding-right: 2rem;
  text-align: center;
}

.more-info > p {
  margin: 1rem;
  font-weight: 600;
}

.more-info > p > span {
  font-weight: 400;
}

.more-info-icon {
  /* transform: scale(2.5) translateY(0.4rem); */
  width: 2rem;
}

.price {
  /* float: right; */
  font-weight: 700;
  margin-top: 0.5rem;
}

.original-price {
  text-decoration: line-through;
  font-weight: 500;
  font-size: 1rem;
}

.discount-off {
  margin-left: 1rem;
  color: red;
  font-weight: 500;
  font-size: 1rem;
  float: right;
}

.original-price-untouched {
  margin-bottom: 2rem;
}

.card-img-top {
  width: 20%;
  aspect-ratio: 1/1;
}

.card-img-top,
.card button {
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0px 10px 20px 10px rgba(202, 211, 126, 0.329);
}

.card button:hover,
.card .btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0px 10px 20px 10px rgba(156, 167, 108, 0.1);
  color: white;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: black !important;
}

.p-tabview-ink-bar {
  background-color: yellow !important;
}

form {
  line-height: 2.3rem;
}

.radio {
  margin-right: 0.3rem;
  transform: translateY(0.4rem);
}

.footer h5 {
  font-weight: 700;
}

.footer a {
  color: white;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.footer a:hover {
  color: yellow !important;
  text-decoration: underline;
}

.footer-header {
  margin-bottom: 1.5rem;
}

.footer-header::after {
  content: "";
  display: block;
  width: 2rem;
  height: 0.2rem;
  background-color: yellow;
  margin-top: 0.5rem;
}

.social-media-container a {
  margin: 1rem;
}

.social-media {
  transition: all 0.2s ease-in-out;
  width: 1.5rem;
}

.social-media:hover {
  transform: scale(1.3);
  color: yellow;
}

.footer-space h5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-item p {
  text-align: left !important;
}

.footer-icon {
  width: 1.5rem;
}

.p-carousel-item {
  border-right: 0.4px solid rgba(255, 255, 255, 0.274);
}

.border-right {
  border-right: 0.7px solid rgba(255, 255, 255, 0.535);
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #ffc107 !important;
}

/* category */
.category-items-container {
  margin-top: 5rem;
}

/* contact us page */
.info-wrapper {
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* margin-left: -0.75rem;
  margin-right: -0.75rem; */
  margin-top: 3rem;
  min-height: 180px;
  padding: 0 2rem 2rem;
  position: relative;
  text-align: center;
}

/* fix for artisan */
.artisan {
  transform: translateY(-2rem);
}

.info-icon {
  background-color: #fff;
  border: none !important;
  height: 4rem;
  margin-bottom: 1.5rem;
  margin-top: -2rem;
  padding: 0 0.75rem;
  text-align: center;
  width: 5.5rem;
}

/* Artisan  Page*/

.view-products {
  transition: all 0.5s ease-in-out;
}

.view-products:hover {
  transform: translateY(-0.2rem);
  box-shadow: 5px 6px 6px 2px #e9ecef;
}

.artisan-filter .dropdown-toggle {
  float: left !important;
}

/* search */
.search-banner {
  height: min-content;
}
.search-dropdown {
  margin-bottom: 0.5rem;
}
.search-banner button {
  margin-bottom: 1rem;
}

.search-modal {
  position: absolute;
  top: 0;
  transform: translateY(2rem);
}

.p-overlaypanel .p-overlaypanel-content {
  padding: 0;
}

/* pages */
.page-container{
  padding: 4rem;
}

.contact-container{
  margin-top: 1rem;
}

/* search */
.search-header {
  margin-top: 5rem;
}

/* dashboard */
.dashboard > .p-tabview .p-tabview-nav {
  display: none;
}

.dashboard > .p-tabview .p-tabview-panels {
  width: 85vw;
}

.goog-te-gadget {
  position: fixed;
  bottom: 0;
  right: 6rem;
  z-index: 200;
}

/* Google translate */
.goog-te-combo:nth-child(2) {
  display: none;
}
.goog-te-combo:nth-child(3) {
  display: none;
}

.goog-te-gadget .goog-te-combo {
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 1px solid #ffc107;
  border-color: #ffc107;
}

.myFilter input {
  background-color: red;
}

.custom-upload {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #ffc107;
  color: #555;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.custom-upload:hover {
  background-color: #e9e9e9;
  border-color: #999;
}

.custom-upload input[type="file"] {
  display: none;
}

/* 3d customize */
.customise-front {
  margin: 1rem;
}
