:root {
  /* --light-red: rgb(255, 72, 0);
  --orange: #ffc107;
  --red: red; */
}

.offer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.offer-card {
  width: calc(25% - 20px); /* Adjust the width as needed */
  aspect-ratio: 1/1;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
  background-color: white;
  /* height: max-content; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .four-in-a-card .item:hover,
.offer-card:hover {
  scale: 1.05;
} */

.headTitle {
  /* margin-bottom: 1rem; */
  font-size: 1.8rem;
  font-weight: bolder;
}

.offer-link {
  display: block;
  color: var(--light-red);
  text-decoration: none;
  font-weight: bolder;
  margin: 0.2rem;
}


.four-in-a-card-container {
  padding: 1rem;
  border: 1px solid #ddd;
  width: calc(25% - 20px);
  /* aspect-ratio: 1/1; */
  background-color: white;
  transform: translateY(0.7rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.four-in-a-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  background-color: white;
}

.four-in-a-card .item {
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color: white;
}

.four-in-a-card h4 { 
  font-size: 12px;
  margin: 0;
}

.fours-link {
  display: block;
  margin-top: 1rem;
  padding: 0.5rem 0.3rem;
  text-align: center;
  background-color: var(--orange);
  text-decoration: none;
  color: white !important;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.fours-link:hover {
  transform: translateY(-0.2rem);
  text-decoration: none;
}

.clickable-banner-container {
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: white;
  margin: 3rem 0;
 
}

.clickable-banner {
  display: flex;
  background-color: white;
}

.clickable-item {
  text-decoration: none;
  margin: 0 10px;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  background-color: white;
  flex: 1;
}

.clickable-item:hover {
  transform: scale(1.05);
}

.item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.image-space {
  height: 15rem;
}

.item-video,
.item-image {
  width: 100%;
  height: 100%;
}

.price-space {
  font-size: 1.5rem;
}

.original-price {
  text-decoration: line-through;
  font-weight: 500;
  font-size: 1rem;
}

/* .price {
  font-weight: 700;
} */

.item-title {
  margin-top: 1rem;
  font-size: 16px;
  text-decoration: none;
}

.discount {
  padding: 0.3rem;
  border-radius: 0.5rem;
  background-color: var(--red);
  color: white;
  font-weight: bolder;
}

.more-deals {
  font-size: 1.2rem;
  color: var(--light-red);
  text-decoration: none;
}
